<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ninjas</title>
</head>
<body>
    <a href ="/ninjas">Ninja</a>
    <!-- same as What's my name assign -->
    <form action="/info" method="post">
        <input type="text" name="first_name">
        <input type="text" name="last_name">        
        <input type="submit" value="Submit">
    </form>
</body>
</html>