<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo Survey Index</title>
</head>

<body>
    <form action="/process" method="post">
        Your Name: <input type="text" name="name">
        Dojo Location: <input type="text" name="location">
        Favorite Language: <select name="language">
            <option value="Python">Python</option>
            <option value="Javascript">Javascript</option>
            <option value="HTML_CSS">HTML and CSS</option>
        </select>
        Comment (optional): <input type="text" name="comment">
        <input type="submit" value="Button">
</body>

</html>